
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 300px;"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name: {{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Description: {{recipe.description}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropDown>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Add ingredient to shopping list</a></li>
                <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
                <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div>